* {
    box-sizing: border-box;
    font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
    color: #333;
}

body {
    background-color: #ededed;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #fff159;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 3rem;
}

.nav-bar {
    height: 100%;
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav-bar > a {
    text-decoration: none;
    margin: 0 1rem;
}

.mlauto {
    margin-left: auto !important;
}

.username {
    font-size: 0.8rem;
    margin-right: 1rem;
}

div.wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

div.content {
    display: flex;
    align-items: center;
}

.content-title {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

ol {
    display: flex;
    flex: 1 1 800px;
    flex-direction: column;
    max-width: 80vw;
    padding: 0;
    margin-top: 0;
}

ol>li {
    list-style-type: none;
}

.seller-name {
    font-size: 22px;
    font-weight: 600;
}

.seller-wrapper {
    display: flex;
}

.seller-link {
    color: #3483fa;
}

.seller-sold {
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.column {
    flex-direction: column;
}

.right {
    text-align: right;
}

.card {
    padding: 1rem;
    display: flex;
    background-color: white;
    border-bottom: thin solid #eee;
}

.item-wrapper {
    flex: 1;
}

.item-wrapper:hover {
    background-color: #e0e0e0;
}

.item-rank-entry {
    flex: 1 0 auto;
    display: flex;
    height: 100%;
    margin-left: 1rem;
}

.item-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
}

.item-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-description > * {
    font-weight: 400;
}

.item-price {
    font-size: 24px;
}

.item-sold {
    font-size: 13px;
    color: #666;
    margin-right: 50px;
}
