{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'melirank/style.css' %}">
</head>
<body>
    <header>
        <div class="nav-bar">
            <a class="nav-button" href="{% url 'seller_rank' %}">Top vendedores</a>
            <a class="nav-button" href="{% url 'item_rank' %}">Top productos</a>
            {% if request.session.username %}
                <div class="mlauto">
                    <span class="username">Hola, <span class="bold">{{ request.session.username }}</span>!</span>
                    <a href="{% url 'signout' %}">Cerrar sesión</a>
                </div>
            {% else %}
                <a class="mlauto" href="{% url 'signin' %}">Ingresar</a>
            {% endif %}
        </div>
    </header>
    <div class="wrapper">
        <div class="content column">
            <h2 class="content-title">{% block contenttitle %}{% endblock %}</h2>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
