{% extends "melirank/base.html" %}

{% block title %}Top 20 Products{% endblock %}
{% block contenttitle %}Los 20 Smartwatch más caros{% endblock %}
{% block content %}
<ol>
    {% for item in item_list %}
        <li>
            {% include "melirank/item.html" with rank=forloop.counter %}
        </li>
    {% endfor %}
</ol>
{% endblock %}
