{% load humanize %}

<a href="{{ item.permalink }}" class="card item-wrapper" target="_blank">
    <img src="{{ item.thumbnail }}" alt="{{ item.title }}"><!--
    --><div class="item-rank-entry column">
        <h3 class="item-title">{% if rank %}{{ rank }}. {% endif %}{{ item.title }}</h3>
        <div class="item-description">
            <span class="item-price">$ {{ item.price|intcomma }}</span>
            <span class="item-sold">Vendidos: {{ item.sold_quantity }}</span>
        </div>
    </div>
</a>
