{% extends "melirank/base.html" %}

{% block title %}Top 5 sellers{% endblock %}
{% block contenttitle %}Los 5 usuarios con más unidades vendidas{% endblock %}
{% block content %}
<ol>
	{% for entry in seller_list %}
		<li class="seller-wrapper">
            <div class="seller card column">
                <span class="seller-name">{{ forloop.counter }}.
                    <a class="seller-link" href="{{ entry.seller.permalink }}">
                        {{ entry.seller.nickname }}
                    </a>
                </span>
                <span class="seller-sold"><span class="bold">{{ entry.sold }}</span> vendidos en total</span>
                <span class="right">Producto más vendido:</span>
            </div>
	        {% include "melirank/item.html" with item=entry.most_sales %}
        </li>
    {% endfor %}
</ol>
{% endblock %}
